.checkout1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.checkout-wrapper {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 64px 20px 32px;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: "DM Sans";
}
.cart-details,
.checkout,
.checkout-wrapper {
  display: flex;
  align-items: flex-start;
}
.cart-details {
  margin: 0;
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 120px 192px;
  box-sizing: border-box;
  gap: 47px;
  max-width: 100%;
}
.checkout {
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .cart-details {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .cart-details {
    padding: 78px 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .checkout1 {
    font-size: 38px;
    line-height: 42px;
  }
  .cart-details {
    gap: 23px;
    padding: 51px 48px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .checkout1 {
    font-size: 29px;
    line-height: 32px;
  }
}
