.check-our-latest {
  margin: 0;
  height: 53px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.get-the-inspiration {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
}
.stepper {
  width: 651px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.slider-child {
  height: 46px;
  width: 182px;
}
.slider {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 64px 120px 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: "DM Sans";
}
.trending {
  width: 580px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.curated-for-you {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.get-the-inspiration1 {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.03px;
  line-height: 22px;
}
.curated-for-you-parent,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.curated-for-you-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 10px;
}
.frame-wrapper1 {
  width: 580px;
  justify-content: flex-end;
  padding: 0 0 11px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-button {
  height: 46px;
  width: 182px;
}
.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  font-size: 48px;
}
.condition-set,
.frame-child32 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.condition-set {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 75px 120px 0;
  box-sizing: border-box;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "DM Sans";
}
.frame-child32 {
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.cars-collection,
.photos {
  position: relative;
  line-height: 120%;
}
.photos {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 93px;
}
.frame-child33,
.frame-parent7 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent7 {
  width: 460px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child33 {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.clothing-collection,
.photos1 {
  position: relative;
  line-height: 120%;
}
.photos1 {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 104px;
}
.frame-child34,
.frame-parent8 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent8 {
  width: 460px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child34 {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.photos2,
.travel-collection {
  position: relative;
  line-height: 120%;
}
.photos2 {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 104px;
}
.frame-child35,
.frame-parent9 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent9 {
  width: 460px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child35 {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.food-collection,
.photos3 {
  position: relative;
  line-height: 120%;
}
.photos3 {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 104px;
}
.condition-set1,
.frame-parent10 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  align-self: stretch;
  width: 460px;
  flex-direction: column;
  gap: 12px;
}
.condition-set1 {
  width: 1920px;
  height: 640px;
  background-color: #fff;
  overflow-x: auto;
  flex-direction: row;
  padding: 32px 120px;
  box-sizing: border-box;
  gap: 24px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "DM Sans";
}
.column-icon,
.frame-child36,
.image-icon,
.panel-icon,
.path-icon,
.row-icon,
.shape-icon {
  margin-left: -71px;
  width: 544px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  max-width: 136%;
  flex-shrink: 0;
}
.panel-parent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0;
  box-sizing: border-box;
  gap: 24px;
  min-width: 370px;
  max-width: 100%;
}
.frame-child37,
.frame-child38,
.frame-child39,
.frame-child40,
.frame-child41,
.frame-child42,
.frame-child43 {
  margin-left: -71px;
  width: 544px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 136%;
}
.frame-parent11 {
  height: 3169px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 206px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 370px;
  max-width: 100%;
}
.frame-child44,
.frame-child45,
.frame-child46,
.frame-child47,
.frame-child48,
.frame-child49,
.frame-child50 {
  margin-left: -71px;
  width: 544px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  max-width: 136%;
  flex-shrink: 0;
}
.frame-parent12 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  gap: 24px;
  min-width: 370px;
  max-width: 100%;
}
.frame-child51,
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55,
.frame-child56,
.frame-child57 {
  margin-left: -71px;
  width: 544px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  max-width: 136%;
  flex-shrink: 0;
}
.frame-parent13,
.stack-layout {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
}
.frame-parent13 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  min-width: 370px;
}
.stack-layout {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 120px;
}
.frame-child58 {
  height: 46px;
  width: 126px;
}
.landing-inner {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 32px;
}
.designers-faves {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.stack-panel {
  width: 570px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  max-width: 100%;
}
.from-hd-videos {
  width: 570px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.stack-panel-parent {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 20px 32px;
  box-sizing: border-box;
  gap: 26px;
  max-width: 100%;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: "DM Sans";
}
.collections,
.extraordinary-in-a {
  position: relative;
  display: inline-block;
}
.collections {
  width: 617px;
  line-height: 22px;
  max-width: 100%;
}
.extraordinary-in-a {
  margin: 0;
  height: 53px;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
}
.get-the-inspiration2 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
}
.extraordinary-in-a-nutshell-parent,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.extraordinary-in-a-nutshell-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 10px;
}
.frame-wrapper2 {
  width: 617px;
  justify-content: flex-end;
  padding: 0 0 11px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child59 {
  height: 46px;
  width: 182px;
}
.frame-parent14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  font-size: 48px;
}
.condition-set2,
.frame-child60 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.condition-set2 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 75px 120px 0;
  box-sizing: border-box;
  gap: 10px;
  z-index: 2;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "DM Sans";
}
.frame-child60 {
  flex: 1;
  position: relative;
  border-radius: 5px;
  max-height: 100%;
  object-fit: cover;
}
.daily-motivation,
.resources {
  position: relative;
  line-height: 120%;
}
.resources {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 102px;
}
.frame-child61,
.frame-parent15 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent15 {
  width: 463px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child61 {
  flex: 1;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.resources1,
.streetwear-design {
  position: relative;
  line-height: 120%;
}
.resources1 {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 102px;
}
.frame-child62,
.frame-parent16 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent16 {
  width: 463px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child62 {
  flex: 1;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.music-boards,
.resources2 {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 119px;
}
.resources2 {
  font-size: 16px;
  line-height: 22px;
  min-width: 107px;
}
.frame-child63,
.frame-parent17 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent17 {
  width: 463px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child63 {
  flex: 1;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fashion,
.resources3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 68px;
}
.resources3 {
  font-size: 16px;
  min-width: 123px;
}
.condition-set3,
.frame-parent18 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent18 {
  align-self: stretch;
  width: 463px;
  flex-direction: column;
  gap: 12px;
}
.condition-set3 {
  width: 1920px;
  height: 640px;
  background-color: #fff;
  overflow-x: auto;
  flex-direction: row;
  padding: 32px 120px;
  box-sizing: border-box;
  gap: 24px;
  z-index: 3;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "DM Sans";
}
.new-ai-image,
.whatever-the-job {
  position: relative;
  line-height: 135%;
}
.new-ai-image {
  margin: 0;
  width: 387px;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.feedback-bubble {
  width: 108px;
  height: 46px;
}
.landing,
.whatever-the-job-well-make-i-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.whatever-the-job-well-make-i-parent {
  align-self: stretch;
  overflow: hidden;
  padding: 231px 20px 231px 120px;
  box-sizing: border-box;
  gap: 10px;
  background-image: url(/public/frame-46@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  z-index: 6;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "DM Sans";
}
.landing {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .slider {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .frame-parent6,
  .slider {
    flex-wrap: wrap;
  }
  .condition-set,
  .condition-set1 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .frame-parent11 {
    padding-top: 20px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .stack-layout {
    padding: 20px 60px;
    box-sizing: border-box;
  }
  .frame-parent14 {
    flex-wrap: wrap;
  }
  .condition-set2,
  .condition-set3 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .check-our-latest {
    font-size: 38px;
    line-height: 42px;
  }
  .slider {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .curated-for-you {
    font-size: 38px;
    line-height: 42px;
  }
  .condition-set {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .condition-set1 {
    padding: 21px 30px;
    box-sizing: border-box;
  }
  .frame-parent11,
  .frame-parent12,
  .frame-parent13,
  .panel-parent {
    min-width: 100%;
  }
  .stack-layout {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .designers-faves,
  .extraordinary-in-a {
    font-size: 38px;
    line-height: 42px;
  }
  .condition-set2 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .condition-set3 {
    padding: 21px 30px;
    box-sizing: border-box;
  }
  .new-ai-image {
    font-size: 26px;
    line-height: 31px;
  }
  .whatever-the-job-well-make-i-parent {
    padding-left: 60px;
    padding-top: 150px;
    padding-bottom: 150px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .check-our-latest,
  .curated-for-you {
    font-size: 29px;
    line-height: 32px;
  }
  .frame-parent11 {
    padding-bottom: 37px;
    box-sizing: border-box;
  }
  .designers-faves,
  .extraordinary-in-a {
    font-size: 29px;
    line-height: 32px;
  }
  .new-ai-image {
    font-size: 19px;
    line-height: 23px;
  }
  .whatever-the-job-well-make-i-parent {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
