.product-image-icon {
  height: 112px;
  width: 112px;
  position: relative;
  object-fit: cover;
}
.photo-1 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.photo-1-wrapper {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 45px 20px 0 0;
  box-sizing: border-box;
}
.credits2,
.product-info {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.product-info {
  min-width: 59px;
  white-space: nowrap;
}
.credits2 {
  min-width: 73px;
}
.back-button,
.back-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.back-button {
  gap: 10px;
}
.back-button-wrapper {
  flex: 1;
  padding: 33px 0 0;
  box-sizing: border-box;
  min-width: 260px;
  max-width: 100%;
}
.div4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
}
.checkout-button,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: 47px 0 0;
}
.checkout-button {
  width: 888px;
  flex-direction: row;
  gap: 15px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "DM Sans";
}
@media screen and (max-width: 1225px) {
  .checkout-button {
    flex-wrap: wrap;
  }
}
