.content4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 86px;
}
.calendar-of-festivities4,
.new-assets5,
.the-most-popular4 {
  position: relative;
  line-height: 135%;
}
.new-assets5 {
  display: inline-block;
  min-width: 85px;
}
.the-most-popular4 {
  white-space: nowrap;
}
.blog4,
.search-trends5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 104px;
}
.blog4 {
  min-width: 32px;
}
.progress-bar1,
.toggle-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-bar1 {
  gap: 24px;
  font-size: 16px;
}
.toggle-switch {
  width: 260px;
  gap: 26px;
}
.information4,
.pricing8 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 124px;
}
.pricing8 {
  min-width: 51px;
}
.about-us6,
.api4,
.press-room5,
.sell-content4 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 68px;
}
.api4,
.press-room5,
.sell-content4 {
  min-width: 84px;
}
.api4,
.sell-content4 {
  line-height: 22px;
  min-width: 24px;
}
.sell-content4 {
  line-height: 135%;
  min-width: 89px;
}
.jobs4 {
  display: inline-block;
  min-width: 36px;
}
.jobs4,
.our-brand-guidelines4 {
  position: relative;
  line-height: 22px;
}
.popover1,
.tabbed-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.popover1 {
  gap: 24px;
  font-size: 16px;
}
.tabbed-panel {
  width: 260px;
  gap: 26px;
}
.legal5,
.terms-of-use4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 58px;
}
.terms-of-use4 {
  min-width: 95px;
}
.license-agreement4,
.privacy-policy7 {
  position: relative;
  line-height: 135%;
}
.privacy-policy7 {
  display: inline-block;
  min-width: 104px;
}
.copyright-information4 {
  position: relative;
  line-height: 135%;
  white-space: nowrap;
}
.cookies-policy4,
.cookies-settings4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 109px;
}
.cookies-settings4 {
  line-height: 135%;
  min-width: 125px;
}
.split-view,
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.stack {
  gap: 24px;
  font-size: 16px;
}
.split-view {
  gap: 26px;
}
.contact4,
.faq4,
.search-guide4,
.support4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 72px;
}
.contact4,
.faq4,
.search-guide4 {
  min-width: 31px;
}
.contact4,
.search-guide4 {
  min-width: 97px;
}
.contact4 {
  min-width: 61px;
}
.column,
.flex {
  flex-direction: column;
  justify-content: flex-start;
}
.column {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  font-size: 16px;
}
.flex {
  width: 162px;
  gap: 26px;
}
.drawer,
.flex,
.toggle-switch-parent {
  display: flex;
  align-items: flex-start;
}
.drawer {
  width: 261px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 56px;
  box-sizing: border-box;
  gap: 36px;
}
.toggle-switch-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.social-media4 {
  width: 144.6px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.facebook-icon4,
.instagram-icon4,
.link-square-icon4,
.youtube-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.scene,
.social-media-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18.1px;
}
.social-media-parent2 {
  flex-direction: column;
  gap: 24px;
}
.get-exclusive-assets4 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
}
.footer4,
.frame-parent65 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent65 {
  width: 402px;
  flex-direction: column;
  gap: 36px;
  min-width: 402px;
}
.footer4 {
  align-self: stretch;
  background-color: #000;
  overflow: hidden;
  flex-direction: row;
  padding: 64px 120px;
  box-sizing: border-box;
  gap: 166px;
  z-index: 7;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "DM Sans";
}
@media screen and (max-width: 1525px) {
  .frame-parent65 {
    flex: 1;
  }
  .footer4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .toggle-switch-parent {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .footer4 {
    gap: 83px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .drawer {
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .frame-parent65 {
    min-width: 100%;
  }
  .footer4 {
    gap: 41px;
    padding: 42px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent65 {
    gap: 18px;
  }
}
