.content3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 86px;
}
.calendar-of-festivities3,
.new-assets4,
.the-most-popular3 {
  position: relative;
  line-height: 135%;
}
.new-assets4 {
  display: inline-block;
  min-width: 85px;
}
.the-most-popular3 {
  white-space: nowrap;
}
.blog3,
.search-trends4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 104px;
}
.blog3 {
  min-width: 32px;
}
.calculator,
.combiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.calculator {
  gap: 24px;
  font-size: 16px;
}
.combiner {
  width: 260px;
  gap: 26px;
}
.information3,
.pricing7 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 124px;
}
.pricing7 {
  min-width: 51px;
}
.about-us5,
.api3,
.press-room4,
.sell-content3 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 68px;
}
.api3,
.press-room4,
.sell-content3 {
  min-width: 84px;
}
.api3,
.sell-content3 {
  line-height: 22px;
  min-width: 24px;
}
.sell-content3 {
  line-height: 135%;
  min-width: 89px;
}
.jobs3 {
  display: inline-block;
  min-width: 36px;
}
.jobs3,
.our-brand-guidelines3 {
  position: relative;
  line-height: 22px;
}
.pricing-parent1,
.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-parent1 {
  gap: 24px;
  font-size: 16px;
}
.timer {
  width: 260px;
  gap: 26px;
}
.legal4,
.terms-of-use3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 58px;
}
.terms-of-use3 {
  min-width: 95px;
}
.license-agreement3,
.privacy-policy6 {
  position: relative;
  line-height: 135%;
}
.privacy-policy6 {
  display: inline-block;
  min-width: 104px;
}
.copyright-information3 {
  position: relative;
  line-height: 135%;
  white-space: nowrap;
}
.cookies-policy3,
.cookies-settings3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 109px;
}
.cookies-settings3 {
  line-height: 135%;
  min-width: 125px;
}
.trigger,
.validator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trigger {
  gap: 24px;
  font-size: 16px;
}
.validator {
  gap: 26px;
}
.contact3,
.faq3,
.search-guide3,
.support3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 72px;
}
.contact3,
.faq3,
.search-guide3 {
  min-width: 31px;
}
.contact3,
.search-guide3 {
  min-width: 97px;
}
.contact3 {
  min-width: 61px;
}
.loader,
.mapper {
  flex-direction: column;
  justify-content: flex-start;
}
.mapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  font-size: 16px;
}
.loader {
  width: 162px;
  gap: 26px;
}
.adapter,
.combiner-parent,
.loader {
  display: flex;
  align-items: flex-start;
}
.adapter {
  width: 261px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 56px;
  box-sizing: border-box;
  gap: 36px;
}
.combiner-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.social-media3 {
  width: 144.6px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.facebook-icon3,
.instagram-icon3,
.link-square-icon3,
.youtube-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.controller,
.social-media-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18.1px;
}
.social-media-parent1 {
  flex-direction: column;
  gap: 24px;
}
.get-exclusive-assets3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
}
.footer3,
.frame-parent59 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent59 {
  width: 402px;
  flex-direction: column;
  gap: 36px;
  min-width: 402px;
}
.footer3 {
  align-self: stretch;
  background-color: #000;
  overflow: hidden;
  flex-direction: row;
  padding: 64px 120px;
  box-sizing: border-box;
  gap: 166px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "DM Sans";
}
@media screen and (max-width: 1800px) {
  .frame-parent59 {
    flex: 1;
  }
  .footer3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .combiner-parent {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .footer3 {
    gap: 83px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .adapter {
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .frame-parent59 {
    min-width: 100%;
  }
  .footer3 {
    gap: 41px;
    padding: 42px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent59 {
    gap: 18px;
  }
}
