.values,
.we-say-it {
  position: relative;
  display: inline-block;
}
.values {
  line-height: 22px;
  min-width: 49px;
}
.we-say-it {
  margin: 0;
  height: 53px;
  font-size: 48px;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.yeah-thats-right {
  align-self: stretch;
  position: relative;
  line-height: 135%;
  text-align: center;
}
.legal2 {
  width: 638px;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}
.frame-parent36,
.legal2,
.pricing3 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.frame-parent36 {
  width: 1680px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 24px;
}
.pricing3 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 64px 20px;
  box-sizing: border-box;
  gap: 64px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "DM Sans";
}
@media screen and (max-width: 1700px) {
  .frame-parent36 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .we-say-it {
    font-size: 38px;
    line-height: 42px;
  }
  .pricing3 {
    gap: 32px;
    padding-top: 42px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .we-say-it {
    font-size: 29px;
    line-height: 32px;
  }
  .pricing3 {
    gap: 16px;
  }
}
