.frame-textarea {
  border: 0;
  background-color: #000;
  height: 310px;
  width: auto;
  outline: 0;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 136px 244px;
  box-sizing: border-box;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.credits1 {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 102px;
}
.credits-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.empty-space {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.empty-space-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  font-size: 16px;
}
.frame-child106 {
  height: 46px;
  width: 113px;
}
.frame-parent67,
.instance-frame {
  display: flex;
  align-items: flex-start;
}
.instance-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.frame-parent67 {
  width: 544px;
  margin: 0 !important;
  position: absolute;
  top: 64px;
  left: 120px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "DM Sans";
}
